[user]
    name = barberj
    email = barber.justin@gmail.com

[push]
    default = tracking

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    autocrlf = false
    filemode = false
	excludesfile = /Users/jbarber/.gitignore_global

[branch]
	autosetupmerge = true

# http://jeetworks.org/node/90
# http://www.silverwareconsulting.com/index.cfm/2010/6/21/Comparing-Files-from-Different-Branches-with-Git-Difftool
[diff]
    tool = vimdiff

[difftool]
    prompt = false
