*.bck
*.pyc
*.log
*.swp
*.swp
*.sublime-project
*.sublime-workspace
/.viminfo
/.ipython
/.bash_history
/.mysql_history
/.vim/.netrwhist
/.lesshst
/.CFUserTextEncoding
/.DS_Store
/.Trash
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/bin
/shootq*
/.python-eggs
/.pgpass
/.psql_history
/.erlang.cookie
/.gnupg
/.npm
/.ipython
/.dropbox
/Dropbox
/.cups
/.subversion
