[user]
    name = barberj
    email = barber.justin@gmail.com

[push]
    default = tracking

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    autocrlf = false
    filemode = false

[branch]
	autosetupmerge = true
